/*styling.css*/
html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
    background: -webkit-radial-gradient(circle, #fff, #ccc);   
    background: -o-radial-gradient(circle, #fff, #ccc);   
    background: -moz-radial-gradient(circle, #fff, #ccc);
}

#container{
    height: 400px;
    width: 550px;
    background-color: #ae00ff;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #ae00ff9a;
    -moz-box-shadow: 0px 4px 0px 0px #ae00ff9a;
    -webkit-box-shadow: 0px 4px 0px 0px #ae00ff9a;
/*        box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color]*/
    position: relative;
}

#score{
    background-color: #0e0e0e;
    color: #ffffff;
    padding: 11px;
    position: absolute;
    left: 500px;
    box-shadow: 0px 4px 0px #242424;
    -moz-box-shadow: 0px 4px 0px #242424;
    -webkit-box-shadow: 0px 4px 0px #242424;
}

#correct{
    position: absolute;
    left: 260px;
    background-color: #42e252;
    color: white;
    padding: 11px;
    display: none;
}

#wrong{
    position: absolute;
    left: 250px;
    background-color: #de401a;
    color: white;
    padding: 11px;
    display: none;
}

#question{
    width: 450px;
    height: 150px;
    margin: 50px auto 10px auto;
    background-color: #141414;
    box-shadow: 0px 4px #2b2b2b;
    -moz-box-shadow: 0px 4px #2b2b2b;
    -webkit-box-shadow: 0px 4px #2b2b2b;
    font-size: 100px;
    text-align: center;
    font-family: cursive, sans-serif;
    color: rgb(255, 255, 255);
}

#instruction{
    width: 450px;
    height: 50px;
    background-color: #c0c0c0;
    margin: 10px auto;
    text-align: center;
    line-height: 45px;
    box-shadow: 0px 4px #a8a8a8;
    -moz-box-shadow: 0px 4px #a8a8a8;
    -webkit-box-shadow: 0px 4px #a8a8a8;
}

#choices{
    width: 450px;
    height: 100px;
    margin: 5px auto;
}

.box{
    width: 85px;
    height: 85px;
    background-color: rgb(172, 172, 172);
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
}

.box:hover, #startreset:hover{
   background-color: #bd2dff;
   color: white;
   border-color: 1px solid white;
   box-shadow: 0px 4px #ae00ff85;
   -moz-box-shadow: 0px 4px #ae00ff85;
    -webkit-box-shadow: 0px 4px #ae00ff85;
    
}

.box:active, #startreset:active{
    background-color: #9C89F6;
    color: white;
    box-shadow: 0px 0px #6b54d3; 
    -moz-box-shadow: 0px 0px #6b54d3; 
    -webkit-box-shadow: 0px 0px #6b54d3; 
    top: 4px;
}
#box4{
    margin-right: 0;   
}

#startreset{
    width: 78px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 0.322);
    margin: 0 auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;   
}

#timeremaining{
    width: 152px;
    padding: 10px;
    position: absolute;
    top: 395px;
    left: 400px;
    background-color: #bd2dff;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
/*    visibility: hidden;*/
    display: none;
}

#gameOver{
    height: 200px;
    width: 500px;
    background: linear-gradient(#F3CA6B, #F3706C);
    background: -webkit-linear-gradient(#F3CA6B, #F3706C);
    background: -o-linear-gradient(#F3CA6B, #F3706C);
    background: -moz-linear-gradient(#F3CA6B, #F3706C);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 45px;
    z-index: 2;
    display: none;
    
}